
  <div class="item-view">
    <h2><%= @task.name %></p></h2>
    <ul>
      <li>Parent Project: <%= link_to @task.project.title, project_path(@task.project)  %></li>
      <li><%= %> is responsible for this task</li>
      <li>Due: <%= @task.due_date %></li>
      <li>Status: <%= @task.status %></li>
      <li>Priority: <%= @task.priority %></li>
      <li>Created by: <%= @task.project.user.first_name %> <%= @task.project.user.last_name%></li>
      <li>Due in: <%= @due_in %> days</li>
    </ul>
    <%= link_to 'Edit', edit_project_task_path(@task.project, @task), class: 'button' %>
    <%= link_to 'Delete', project_task_path(@task.project, @task), method: :delete, class:'button' %>
  </div>
