

  <div class="task-bucket item-view">
    <h2><%= @project.title %></h2>
    <% @tasks.each do |task| %>
      <% task.set_priority %>
      <div class="row">

        <%= link_to task.name, project_task_path(@project, task), class: 'task' %>
        <% if task.status == 'Closed' %>
          <aside class="due" id='done'>Done!</aside>
        <% else %>
          <aside class='<%= "due priority-#{task.priority}" %>'><%= task.due_in%> days left</aside>
        <% end %>
      </div>
    <% end %>
    <%= link_to '+', new_project_task_path(@project), class: 'button' %>
  </div>


  <div class="item-view">
    <h2>Details</h2>
    <ul>
      <li><div class="image-container"><%= image_tag(@project.image) %></div></li>
      <li><%= @project.description %></li>
      <li>Start Date: <%= time_ago_in_words(@project.created_at)%> ago </li>
      <li>Due Date: <%= @project.due_date %></li>
      <li>Status: <%= @project.status %></li>
      <li>Created by: <%= @project.user.first_name %> <%= @project.user.last_name %></li>
    </ul>
    <%= link_to 'Edit Project', edit_project_path(@project), class: 'button' %>
    <%= link_to 'Delete', project_path(@project), method: :delete, class:'button' %>
  </div>
